.main__content {
    height: 59.5%;
    background-color: var(--box-color);
    margin: 10px;
    border-radius: 10px;    
    padding: 40px 24px;
    overflow: hidden;
}

.salutation h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: var(--font-dm-sans);
}

.salutation, .playlist-cards__introduction {
    color: white;
}

.playlist-cards__introduction {
    margin-top: 48px;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-dm-sans);
}

.playlist-cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 12px;
    row-gap: 32px;
    margin-top: 24px;
    overflow: hidden;
}

.playlist-cards .cards {
    position: absolute;
    width: 220px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.playlist-cards .cards a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-dm-sans);
}

.playlist-cards span {
    position: absolute;
    padding: 16px;
}

.playlist-cards img {
    position: absolute;
    width: 107px;
    height: 107px;
    right: -18.4px;
    bottom: -6px;
    transform: rotate(25deg);
}

/* CSS descartável */
.card1 {
    background-color: #006450;
}

.card2 {
    background-color: #8400E7;
}

.card3 {
    background-color: #1E3264;
}

.card4 {
    background-color: #8C1932;
}

.card5 {
    background-color: #E8115B;
}

.card6 {
    background-color: #537AA1;
}

.card7 {
    background-color: #8E66AC;
}

.card8 {
    background-color: #148A08;
}

.card9 {
    background-color: #1E3264;
}

.card10 {
    background-color: #E91429;
}

.card11 {
    background-color: #503750;
}

.card12 {
    background-color: #D84000;
}

.card13 {
    background-color: #BA5D07;
}