body {
    background-color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    padding: 12px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar__navigation .logo {
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo a img {
    width: 80px;
}

.sidebar__navigation ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar__navigation ul li {
    padding: 10px 0px;
}

.sidebar__navigation ul a {
    color: #b3b3b3;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}

.sidebar__navigation ul a .fa {
    margin-right: 10px;
    font-size: 20px;
}



.library {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #121212;
    border-radius: 8px;
    margin-top: 10px;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 14px;
}

.library__content {
    display: flex;
    justify-content: space-between;
}

.library__button {
    display: flex;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    padding: 20px 10px;
}

.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    padding-right: 8px;
}

.library__button .text {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}

.library__content .fa-plus {
    color: #b3b3b3;
    font-size: 16px;
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 10px;
}

.section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist .text {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
}

.section-playlist .title {
    font-weight: 700;
}

.section-playlist .subtitle {
    font-size: 12px;
    margin-top: 10px
}

.section-playlist__button {
    display: flex;
    justify-content: center;
    width: 113px;
    margin-top: 12px;
    border: 0;
    padding: 10px;
    border-radius: 20px;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}

.library__cookies {
    margin: 25px 20px;
}

.library__cookies a {
    color: #b3b3b3;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

.library__cookies a:hover {
    text-decoration: underline;
}

.languages__button {
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    padding: 8px;
    margin: 8px;
    color: #FFF;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
}

.sidebar footer {
    
}