body {
    background-color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    padding: 12px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar__navigation .logo {
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo a img {
    width: 80px;
}

.sidebar__navigation ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar__navigation ul li {
    padding: 10px 0px;
}

.sidebar__navigation ul a {
    color: #b3b3b3;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}

.sidebar__navigation ul a .fa {
    margin-right: 10px;
    font-size: 20px;
}

.sidebar__navigation ul a:hover {
    color: #FFFFFF;
}

.library {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-block-size: 40px;
    border-radius: 8px;
    margin-top: 10px;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 14px;
}

.library__content {
    display: flex;
    justify-content: space-between;
}

.library__button {
    display: flex;
    background-color: transparent;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px 10px;
    border: 0;
    margin-right: 10px;
}

.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    padding-right: 8px;
}

.library__button .text {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}

.library__content .fa-plus {
    color: #b3b3b3;
    font-size: 16px;
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 10px;
}

.section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist .text {
    padding-bottom: 14px;
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
}

.section-playlist .title {
    font-weight: 700;
}

.section-playlist .subtitle {
    font-size: .8rem;
    font-weight: 500;
    
}

.section-playlist__button {
    background-color: #FFF;
    color: #000;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    width: 113px;
    margin-top: 12px;
    border: 0;
    padding: 10px;
    font-weight: 700;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: none;
}

.library__cookies {
    margin: 25px 20px;
}

.library__cookies a {
    color: #b3b3b3;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

.library__cookies a:hover {
    text-decoration: underline;
}

.languages__button {
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 9999px;
    padding: 8px;
    margin: 8px;
    color: #FFF;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}
.disclaimer-premium .text {
   flex-shrink: 0;
   font-family: 'DM Sans', sans-serif;
}
.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}