body {
    background-color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    padding: 12px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar__navigation .logo {
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo a img {
    width: 80px;
}

.sidebar__navigation ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar__navigation ul li {
    padding: 10px 0px;
}

.sidebar__navigation ul a {
    color: #b3b3b3;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}

.sidebar__navigation ul a .fa {
    margin-right: 10px;
    font-size: 20px;
}