:root { 
    /* Fonts */
    --font-dm-sans: 'DM Sans', sans-serif;

    /* Colors */
    --font-color: #b3b3b3;
    --box-color: #121212;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
}